Repository Financial-Times/x-dash, pull requests merged in 2019-05, with the labels that each got.

#282 Remove extra space after title text
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-teaser/src/Title.jsx
Labels: bug, component

#279 X audio grid layout & basic styles
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-audio/.bowerrc
  components/x-audio/bower.json
  components/x-audio/package.json
  components/x-audio/src/components/Buttons.jsx
  components/x-audio/src/components/index.jsx
  components/x-audio/src/components/styles.scss
  components/x-audio/src/redux/index.jsx
  components/x-audio/stories/index.js
Labels: 🎙x-audio

#286 x-audio loading component
  components/x-audio/.bowerrc
  components/x-audio/__tests__/x-audio.test.jsx
  components/x-audio/bower.json
  components/x-audio/package.json
  components/x-audio/readme.md
  components/x-audio/src/components/Loading.jsx
  components/x-audio/src/components/classnames-helper.js
  components/x-audio/src/components/index.jsx
  components/x-audio/src/components/styles.scss
  components/x-audio/src/redux/player-logic.js
  components/x-audio/stories/index.js
Labels: 🎙x-audio

#288 expose source files in packages
  components/x-increment/package.json
  components/x-interaction/package.json
  components/x-styling-demo/package.json
  components/x-teaser/.npmignore
  components/x-teaser/package.json
Labels: not that we want to encourage this sort of thing

#78 X gift article
  .eslintrc.js
  .storybook/register-components.js
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-gift-article/.gitignore
  components/x-gift-article/package.json
  components/x-gift-article/readme.md
  components/x-gift-article/rollup.js
  components/x-gift-article/src/Buttons.jsx
  components/x-gift-article/src/CopyConfirmation.jsx
  components/x-gift-article/src/Form.jsx
  components/x-gift-article/src/GiftArticle.css
  components/x-gift-article/src/GiftArticle.jsx
  components/x-gift-article/src/Loading.jsx
  components/x-gift-article/src/Message.jsx
  components/x-gift-article/src/MobileShareButtons.jsx
  components/x-gift-article/src/MobileShareButtons.scss
  components/x-gift-article/src/RadioButtonsSection.jsx
  components/x-gift-article/src/Title.jsx
  components/x-gift-article/src/Url.jsx
  components/x-gift-article/src/UrlSection.jsx
  components/x-gift-article/src/lib/api.js
  components/x-gift-article/src/lib/constants.js
  components/x-gift-article/src/lib/share-link-actions.js
  components/x-gift-article/src/lib/tracking.js
  components/x-gift-article/src/lib/updaters.js
  components/x-gift-article/stories/error-response.js
  components/x-gift-article/stories/free-article.js
  components/x-gift-article/stories/index.js
  components/x-gift-article/stories/native-share.js
  components/x-gift-article/stories/with-gift-credits.js
  components/x-gift-article/stories/without-gift-credits.js
Labels: component

#289 X audio remaining time
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-audio/__tests__/format-seconds-to-hmmss.test.js
  components/x-audio/__tests__/x-audio.test.jsx
  components/x-audio/src/components/Loading.jsx
  components/x-audio/src/components/TimeRemaining.jsx
  components/x-audio/src/components/format-seconds-to-hmmss.js
  components/x-audio/src/components/index.jsx
  components/x-audio/src/components/styles.scss
  components/x-audio/src/redux/__tests__/__snapshots__/player-logic.test.js.snap
  components/x-audio/src/redux/__tests__/player-logic.test.js
  components/x-audio/src/redux/index.jsx
  components/x-audio/src/redux/player-logic.js
  components/x-audio/stories/expanded.js
  components/x-audio/stories/knobs.js
  components/x-audio/stories/minimised.js
  packages/x-babel-config/index.js
  packages/x-babel-config/jest.js
Labels: 🎙x-audio

#294 Keep 1 mins remaining when it is less than 1 mins
  components/x-audio/src/components/TimeRemaining.jsx
Labels: 🎙x-audio

#297 Flesh out x-audio readme
  components/x-audio/readme.md
Labels: 🎙x-audio

#301 Get duration by durationchange events
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-audio/src/redux/__tests__/__snapshots__/player-logic.test.js.snap
  components/x-audio/src/redux/__tests__/player-logic.test.js
  components/x-audio/src/redux/index.jsx
  components/x-audio/src/redux/player-logic.js
  components/x-audio/stories/knobs.js
  components/x-audio/stories/redux-player.js
Labels: 🎙x-audio

#300 O audio integration
  components/x-audio/package.json
  components/x-audio/src/redux/__mocks__/@financial-times/o-audio.js
  components/x-audio/src/redux/__tests__/player-logic.test.js
  components/x-audio/src/redux/index.jsx
  components/x-audio/src/redux/player-logic.js
  components/x-audio/src/redux/tracking.js
  components/x-audio/stories/knobs.js
  components/x-audio/stories/redux-player.js
Labels: 🎙x-audio

#304 reinstate space just for premium label
  components/x-teaser/src/Title.jsx
Labels: bug, component

#307 X audio click tracking
  components/x-audio/src/redux/__tests__/__snapshots__/player-logic.test.js.snap
  components/x-audio/src/redux/__tests__/middleware/notifier.test.js
  components/x-audio/src/redux/__tests__/player-logic.test.js
  components/x-audio/src/redux/index.jsx
  components/x-audio/src/redux/middleware/notifier.js
  components/x-audio/src/redux/player-logic.js
  components/x-audio/src/redux/store.js
  components/x-audio/stories/knobs.js
  components/x-audio/stories/redux-player.js
Labels: 🎙x-audio
