Repository Financial-Times/x-dash, pull requests merged in 2019-06, with the labels that each got.

#325 Add swipe down animation for expanded player
  components/x-audio/__tests__/swipe-down-to-minimise.test.js
  components/x-audio/__tests__/x-audio.test.jsx
  components/x-audio/package-lock.json
  components/x-audio/package.json
  components/x-audio/src/components/Players.jsx
  components/x-audio/src/components/handle-swipe-down.js
  components/x-audio/src/components/index.jsx
  components/x-audio/src/redux/index.jsx
Labels: 🎙x-audio

#328 Do not display remaining time's decimal point
  components/x-audio/__tests__/format-seconds-to-hmmss.test.js
  components/x-audio/src/components/TimeRemaining.jsx
  components/x-audio/src/components/format-seconds-to-hmmss.js
Labels: 🎙x-audio

#333 Fix expanded player not set swipe down
  components/x-audio/src/redux/index.jsx
Labels: 🎙x-audio

#335 Fix tabable image issue
  components/x-teaser/__tests__/__snapshots__/snapshots.test.js.snap
  components/x-teaser/src/Image.jsx
Labels: bug

#326 Build one cli
  docs/integration/local-development.md
  makefile
  package.json
Labels: housekeeping

#334 Scrub bar
  components/x-audio/__tests__/x-audio.test.jsx
  components/x-audio/src/components/Players.jsx
  components/x-audio/src/components/ScrubBar.jsx
  components/x-audio/src/components/Timeline.jsx
  components/x-audio/src/components/classnames-helper.js
  components/x-audio/src/components/index.jsx
  components/x-audio/src/components/rc-slider/Handle.jsx
  components/x-audio/src/components/rc-slider/Slider.jsx
  components/x-audio/src/components/rc-slider/common/Track.jsx
  components/x-audio/src/components/rc-slider/common/createSlider.jsx
  components/x-audio/src/components/rc-slider/index.js
  components/x-audio/src/components/rc-slider/utils.js
  components/x-audio/src/components/styles.scss
  components/x-audio/src/redux/__tests__/__snapshots__/player-logic.test.js.snap
  components/x-audio/src/redux/__tests__/player-logic.test.js
  components/x-audio/src/redux/index.jsx
  components/x-audio/src/redux/player-logic.js
Labels: 🎙x-audio
