Repository Financial-Times/x-dash, pull requests merged in 2019-08, with the labels that each got.

#380 Add Styles
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/package.json
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/src/PodcastLaunchers.css
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/stories/index.js
Labels: x-podcast-launchers

#291 Modify babel config to allow to module config for tests
  packages/x-babel-config/index.js
  packages/x-babel-config/jest.js
  packages/x-rollup/src/rollup-config.js
Labels: enhancement

#379 Add copyToClipboard function
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/src/PodcastLaunchers.css
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/copy-to-clipboard.js
Labels: x-podcast-launchers

#383 Add headings and follow button
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/package.json
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/PodcastLaunchers.scss
  components/x-podcast-launchers/src/__tests__/PodcastLaunchers.test.jsx
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
  components/x-podcast-launchers/src/copy-to-clipboard.js
  components/x-podcast-launchers/stories/example.js
  components/x-podcast-launchers/stories/knobs.js
Labels: x-podcast-launchers

#386 Pass renderFollowButton from props
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
Labels: x-podcast-launchers

#388 Update Readme
  components/x-podcast-launchers/readme.md
Labels: x-podcast-launchers

#389 Reflect reviews' comments
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/.bowerrc
  components/x-podcast-launchers/bower.json
  components/x-podcast-launchers/package.json
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/PodcastLaunchers.scss
  components/x-podcast-launchers/src/config/app-links.js
  components/x-podcast-launchers/src/config/series-ids.js
  components/x-podcast-launchers/src/copy-to-clipboard.js
  components/x-podcast-launchers/src/generate-app-links.js
  components/x-podcast-launchers/src/generate-rss-url.js
  components/x-podcast-launchers/src/map-concept-to-acast-series.js
Labels: x-podcast-launchers

#390 Reflect reviews again
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
  components/x-podcast-launchers/src/generate-app-links.js
Labels: x-podcast-launchers

#378 x-podcast-launchers component
  .storybook/register-components.js
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/.bowerrc
  components/x-podcast-launchers/.npmignore
  components/x-podcast-launchers/bower.json
  components/x-podcast-launchers/package.json
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/rollup.js
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/PodcastLaunchers.scss
  components/x-podcast-launchers/src/__tests__/PodcastLaunchers.test.jsx
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
  components/x-podcast-launchers/src/__tests__/__snapshots__/generate-app-links.test.js.snap
  components/x-podcast-launchers/src/__tests__/generate-app-links.test.js
  components/x-podcast-launchers/src/__tests__/generate-rss-url.test.js
  components/x-podcast-launchers/src/config/app-links.js
  components/x-podcast-launchers/src/config/series-ids.js
  components/x-podcast-launchers/src/copy-to-clipboard.js
  components/x-podcast-launchers/src/generate-app-links.js
  components/x-podcast-launchers/src/generate-rss-url.js
  components/x-podcast-launchers/stories/example.js
  components/x-podcast-launchers/stories/index.js
  components/x-podcast-launchers/stories/knobs.js
Labels: FT Apps, component, ft.com

#392 Add additional data trackables around podcast launchers
  __tests__/__snapshots__/snapshots.test.js.snap
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/PodcastLaunchers.scss
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
Labels: x-podcast-launchers

#391 Update changelog.md
  changelog.md
Labels: documentation
