Repository Financial-Times/x-dash, changes with the owners that CODEOWNERS names for each.
All owners: @financial-times/platforms, @Financial-Times/ads, @Financial-Times/content-discovery, @Financial-Times/content-innovation, @Financial-Times/accounts

remove '90 days' from enterprise sharing confirmation message
  components/x-gift-article/src/Message.jsx
Owners: @Financial-Times/accounts

update error handling when creating ES link
  components/x-gift-article/src/lib/enterpriseApi.js
Owners: @Financial-Times/accounts

fix enterprise sharing tracking properties and link to contact support
  components/x-gift-article/src/Message.jsx
  components/x-gift-article/src/lib/tracking.js
Owners: @Financial-Times/accounts

add tracking when initialising enterprise sharing
  components/x-gift-article/src/GiftArticle.jsx
  components/x-gift-article/src/lib/tracking.js
Owners: @Financial-Times/accounts

fix some types declaration in enterpriseApi
  components/x-gift-article/src/lib/enterpriseApi.js
Owners: @Financial-Times/accounts

Use relative fonts + spacing in live blog posts
  components/x-live-blog-post/src/LiveBlogPost.scss
Owners: @Financial-Times/content-innovation

Update dependency browserslist to 4.16.5 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency color-string to 1.5.5 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency hosted-git-info to 2.8.9 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency is-svg to 4.3.0 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency lodash to 4.17.21 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency path-parse to 1.0.7 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency postcss [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Update dependency tmpl to 1.0.5 [SECURITY]
  components/x-teaser/package-lock.json
Owners: @Financial-Times/content-discovery

Beginnings of x-article-save-button
  components/x-article-save-button/package.json
  components/x-article-save-button/rollup.js
  components/x-article-save-button/src/ArticleSaveButton.css
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/stories/basic.js
  components/x-article-save-button/stories/index.js
Owners: @financial-times/platforms

Knobs!
  components/x-article-save-button/src/ArticleSaveButton.css
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/stories/basic.js
  components/x-article-save-button/stories/index.js
  components/x-article-save-button/stories/knobs.js
Owners: @financial-times/platforms

Some styling
  components/x-article-save-button/package.json
  components/x-article-save-button/src/ArticleSaveButton.css
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Better styles.
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Use Origami for basic color, icons and typography styles.
  components/x-article-save-button/.bowerrc
  components/x-article-save-button/bower.json
  components/x-article-save-button/package.json
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Include o-fonts in storybook.
  components/x-article-save-button/stories/index.js
Owners: @financial-times/platforms

Add aria-label and data-trackable. Group knobs.
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/stories/basic.js
  components/x-article-save-button/stories/knobs.js
Owners: @financial-times/platforms

Wrap ArticleSaveButton in x-interactive
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
  components/x-article-save-button/stories/basic.js
Owners: @financial-times/platforms

No need for --saved class, use aria-pressed instead.
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Use static ID for x-interaction wrapper so snapshot will be repeatable.
  components/x-article-save-button/stories/basic.js
Owners: @financial-times/platforms

Dispatch custom event on form submit, so consumer can perform the save
  components/x-article-save-button/src/ArticleSaveButton.jsx
Owners: @financial-times/platforms

Better story dependencies.
  components/x-article-save-button/stories/index.js
Owners: @financial-times/platforms

Form action and method do not need to be props, as they're only used for non-JS form submit.
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/stories/basic.js
  components/x-article-save-button/stories/knobs.js
Owners: @financial-times/platforms

Specify bower main entry point to fix package resolution problem in next-myft-page.
  components/x-article-save-button/bower.json
Owners: @financial-times/platforms

Set displayName on +BaseArticleSaveButton
  components/x-article-save-button/src/ArticleSaveButton.jsx
Owners: @financial-times/platforms

Include all dependencies in story
  components/x-article-save-button/stories/index.js
Owners: @financial-times/platforms

Consistently use oColorsGetPaletteColor
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Need to use currentProps in triggerSave action
  components/x-article-save-button/src/ArticleSaveButton.jsx
Owners: @financial-times/platforms

It seems a readme.md must exist.
  components/x-article-save-button/readme.md
Owners: @financial-times/platforms

x-article-save-button shouldn't be private
  components/x-article-save-button/package.json
Owners: @financial-times/platforms

The bower dependencies are devDependencies.
  components/x-article-save-button/bower.json
Owners: @financial-times/platforms

Correct reference to BaseArticleSaveButton
  components/x-article-save-button/src/ArticleSaveButton.jsx
Owners: @financial-times/platforms

Run bower install on prepare, rather than postinstall.
  components/x-article-save-button/package.json
Owners: @financial-times/platforms

Remove use of x-interaction, dispatch x-article-save-button custom event directly on submit.
  components/x-article-save-button/package.json
  components/x-article-save-button/src/ArticleSaveButton.jsx
Owners: @financial-times/platforms

Fix Safari rendering problem where button text was being clipped.
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

Added readme content.
  components/x-article-save-button/readme.md
  components/x-article-save-button/stories/basic.js
Owners: @financial-times/platforms

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for more information about this file.

* @financial-times/platforms

# component ownership

components/x-privacy-manager @Financial-Times/ads
components/x-teaser @Financial-Times/content-discovery
components/x-teaser-timeline @Financial-Times/content-discovery
components/x-topic-search @Financial-Times/content-discovery
components/x-live-blog-post @Financial-Times/content-innovation
components/x-live-blog-wrapper @Financial-Times/content-innovation
components/x-gift-article @Financial-Times/accounts
