Repository Financial-Times/x-dash, changes with the owners that CODEOWNERS names for each.
All owners: @financial-times/platforms, @Financial-Times/ads, @Financial-Times/content-discovery, @Financial-Times/content-innovation, @Financial-Times/accounts

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for more information about this file.

* @financial-times/platforms

# component ownership

components/x-privacy-manager @Financial-Times/ads
components/x-teaser @Financial-Times/content-discovery
components/x-teaser-timeline @Financial-Times/content-discovery
components/x-topic-search @Financial-Times/content-discovery
components/x-live-blog-post @Financial-Times/content-innovation
components/x-live-blog-wrapper @Financial-Times/content-innovation
components/x-gift-article @Financial-Times/accounts

fix x-styling-demo story css import
  components/x-styling-demo/storybook/index.jsx
Owners: @financial-times/platforms

fix live blog post test
  components/x-live-blog-post/src/__tests__/LiveBlogPost.test.jsx
Owners: @Financial-Times/content-innovation

remove helmet and ensure scss is imported by stories
  components/x-gift-article/storybook/index.jsx
  components/x-live-blog-wrapper/storybook/index.jsx
  components/x-privacy-manager/storybook/index.jsx
  components/x-privacy-manager/storybook/story-container.jsx
  components/x-styling-demo/package.json
  components/x-styling-demo/storybook/index.jsx
  components/x-teaser-timeline/storybook/index.jsx
Owners: @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @financial-times/platforms, @Financial-Times/content-discovery

unmodule styling demo
  components/x-styling-demo/src/Button.css
  components/x-styling-demo/src/Button.jsx
Owners: @financial-times/platforms

remove css modules from gift article
  components/x-gift-article/src/Buttons.jsx
  components/x-gift-article/src/Buttons.scss
  components/x-gift-article/src/CopyConfirmation.jsx
  components/x-gift-article/src/Form.jsx
  components/x-gift-article/src/GiftArticle.scss
  components/x-gift-article/src/Loading.jsx
  components/x-gift-article/src/Loading.scss
  components/x-gift-article/src/Message.jsx
  components/x-gift-article/src/Message.scss
  components/x-gift-article/src/MobileShareButtons.jsx
  components/x-gift-article/src/MobileShareButtons.scss
  components/x-gift-article/src/RadioButtonsSection.jsx
  components/x-gift-article/src/Title.jsx
  components/x-gift-article/src/Url.jsx
  components/x-gift-article/src/UrlSection.jsx
  components/x-gift-article/storybook/index.jsx
Owners: @Financial-Times/accounts

revert live blog data-x-component
  components/x-live-blog-post/src/LiveBlogPost.jsx
Owners: @Financial-Times/content-innovation

update snapshots
  components/x-teaser-timeline/__tests__/__snapshots__/TeaserTimeline.test.jsx.snap
Owners: @Financial-Times/content-discovery

use relative x-article-save-button in x-teaser-timeline
  components/x-teaser-timeline/package.json
Owners: @Financial-Times/content-discovery

fix follow button import path
  components/x-topic-search/src/TopicSearch.scss
Owners: @Financial-Times/content-discovery

fix missing gift article import
  components/x-gift-article/src/GiftArticle.scss
Owners: @Financial-Times/accounts

update origami versions in storybook build service urls
  components/x-gift-article/storybook/index.jsx
  components/x-live-blog-post/storybook/index.jsx
  components/x-live-blog-wrapper/storybook/index.jsx
  components/x-privacy-manager/storybook/story-container.jsx
  components/x-teaser-list/storybook/index.jsx
  components/x-teaser-timeline/storybook/index.jsx
  components/x-teaser/storybook/index.jsx
  components/x-topic-search/storybook/index.jsx
Owners: @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @financial-times/platforms, @Financial-Times/content-discovery

remove postcss from x-rollup
  packages/x-rollup/package.json
  packages/x-rollup/src/rollup-config.js
Owners: @financial-times/platforms

fix style entry points
  components/x-gift-article/package.json
  components/x-live-blog-post/package.json
  components/x-topic-search/package.json
Owners: @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/content-discovery

update styling docs link
  components/x-styling-demo/readme.md
Owners: @financial-times/platforms

don't copy (nonexistent) dist css files in storybook
  .storybook/webpack.config.js
Owners: @financial-times/platforms

update snapshots again
  components/x-teaser-timeline/__tests__/__snapshots__/TeaserTimeline.test.jsx.snap
Owners: @Financial-Times/content-discovery

get rid of a few remaining references to bower
  .eslintignore
  .gitignore
  components/x-article-save-button/package.json
  components/x-follow-button/package.json
  components/x-gift-article/package.json
  components/x-privacy-manager/package.json
  components/x-teaser-list/package.json
  components/x-teaser-timeline/package.json
  components/x-teaser/readme.md
  components/x-topic-search/package.json
  e2e/jest.e2e.config.js
  jest.config.js
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/ads, @Financial-Times/content-discovery

remove a superfluous node-sass
  components/x-article-save-button/package.json
Owners: @financial-times/platforms

revert sass-loader includePaths to top level
  .storybook/webpack.config.js
Owners: @financial-times/platforms

update back to sass-loader 10 and unrevert sass loader optinos
  .storybook/webpack.config.js
  package.json
Owners: @financial-times/platforms

fix button gap class
  components/x-gift-article/src/Buttons.jsx
Owners: @Financial-Times/accounts

fix typo in class name
  components/x-teaser-timeline/__tests__/__snapshots__/TeaserTimeline.test.jsx.snap
  components/x-teaser-timeline/src/TeaserTimeline.jsx
Owners: @Financial-Times/content-discovery

Fixed same-children issue wirh react components
  components/x-teaser-timeline/src/TeaserTimeline.jsx
Owners: @Financial-Times/content-discovery

Fixed repeating child key in TeasetTimeline component
  components/x-teaser-timeline/src/TeaserTimeline.jsx
Owners: @Financial-Times/content-discovery

Fixed repeating child key in TeasetTimeline component
  components/x-teaser-timeline/src/TeaserTimeline.jsx
Owners: @Financial-Times/content-discovery

Update readme versions of node and npm to match package engines key
  readme.md
Owners: @financial-times/platforms

fix: publish src folder for all packages
  components/x-live-blog-post/.npmignore
  components/x-live-blog-wrapper/.npmignore
  components/x-privacy-manager/.npmignore
  components/x-teaser-list/.npmignore
  components/x-teaser/.npmignore
  components/x-topic-search/.npmignore
  private/blueprints/component/.npmignore
Owners: @Financial-Times/content-innovation, @Financial-Times/ads, @financial-times/platforms, @Financial-Times/content-discovery

ADSDEV-1117 fix broken x-privacy-manager stylesheet and convert to styled component
  components/x-privacy-manager/src/components/radio-btn.jsx
  components/x-privacy-manager/src/components/radio-btn.scss
  components/x-privacy-manager/src/privacy-manager.jsx
  components/x-privacy-manager/src/privacy-manager.scss
  components/x-privacy-manager/storybook/index.jsx
Owners: @Financial-Times/ads

ADSDEV-1117 x-privacy-manager can't be a styled component
  components/x-privacy-manager/src/components/radio-btn.jsx
  components/x-privacy-manager/src/privacy-manager.jsx
  components/x-privacy-manager/src/privacy-manager.scss
  components/x-privacy-manager/storybook/index.jsx
Owners: @Financial-Times/ads

Adds refer a friend feature to gift article
  components/x-gift-article/readme.md
  components/x-gift-article/src/Form.jsx
  components/x-gift-article/src/GiftArticle.jsx
  components/x-gift-article/src/GiftArticle.scss
  components/x-gift-article/src/ReferAFriend.jsx
  components/x-gift-article/src/ReferAFriend.scss
  components/x-gift-article/src/lib/constants.js
  components/x-gift-article/storybook/error-response.js
  components/x-gift-article/storybook/free-article.js
  components/x-gift-article/storybook/native-share.js
  components/x-gift-article/storybook/with-enterprise-first-time-user.js
  components/x-gift-article/storybook/with-enterprise-no-credits.js
  components/x-gift-article/storybook/with-enterprise-request-access.js
  components/x-gift-article/storybook/with-enterprise-sharing-link.js
  components/x-gift-article/storybook/with-enterprise.js
  components/x-gift-article/storybook/with-gift-credits.js
  components/x-gift-article/storybook/with-gift-link.js
  components/x-gift-article/storybook/without-gift-credits.js
Owners: @Financial-Times/accounts

Remove not supported fragments
  components/x-gift-article/src/Form.jsx
  components/x-gift-article/src/ReferAFriend.jsx
Owners: @Financial-Times/accounts

Allow anonymous users to set a consent preference without needing to access the Consent API
  components/x-privacy-manager/src/__tests__/helpers.js
  components/x-privacy-manager/src/__tests__/state.test.jsx
  components/x-privacy-manager/src/__tests__/utils.test.js
  components/x-privacy-manager/src/actions.js
  components/x-privacy-manager/src/privacy-manager.jsx
  components/x-privacy-manager/src/utils.js
  components/x-privacy-manager/typings/x-privacy-manager.d.ts
Owners: @Financial-Times/ads

Fix gift icon spacing
  components/x-gift-article/src/ReferAFriend.scss
Owners: @Financial-Times/accounts

add alphaville theme for myftbutton
  components/x-follow-button/readme.md
  components/x-follow-button/src/FollowButton.jsx
  components/x-follow-button/src/styles/mixins/lozenge/_themes.scss
  components/x-follow-button/storybook/index.jsx
Owners: @financial-times/platforms

Remove aria-labelledby for Back to Top
  components/x-live-blog-post/src/LiveBlogPost.jsx
Owners: @Financial-Times/content-innovation

feat!: use the cp-content-pipeline to render live blog posts
  components/x-live-blog-post/package.json
  components/x-live-blog-post/src/LiveBlogPost.jsx
  components/x-live-blog-wrapper/src/LiveBlogWrapper.jsx
Owners: @Financial-Times/content-innovation

fix aria-label text to have entirely the text of the button within the aria-label without split it
  components/x-gift-article/src/Buttons.jsx
  components/x-gift-article/src/ReferAFriend.jsx
Owners: @Financial-Times/accounts

fix aria-label from inputs
  components/x-gift-article/src/ReferAFriend.jsx
  components/x-gift-article/src/Url.jsx
  components/x-gift-article/src/UrlSection.jsx
Owners: @Financial-Times/accounts

fix accessibility errors
  components/x-gift-article/src/ReferAFriend.jsx
  components/x-gift-article/src/Url.jsx
Owners: @Financial-Times/accounts

div to H2
  components/x-gift-article/src/Title.jsx
Owners: @Financial-Times/accounts
