Repository Financial-Times/x-dash, changes with the owners that CODEOWNERS names for each.
All owners: @financial-times/platforms, @Financial-Times/ads, @Financial-Times/content-discovery, @Financial-Times/content-innovation, @Financial-Times/accounts

delete x-podcast-launchers
  components/x-podcast-launchers/.bowerrc
  components/x-podcast-launchers/.npmignore
  components/x-podcast-launchers/bower.json
  components/x-podcast-launchers/package.json
  components/x-podcast-launchers/readme.md
  components/x-podcast-launchers/rollup.js
  components/x-podcast-launchers/src/PodcastLaunchers.jsx
  components/x-podcast-launchers/src/PodcastLaunchers.scss
  components/x-podcast-launchers/src/__tests__/PodcastLaunchers.test.jsx
  components/x-podcast-launchers/src/__tests__/__snapshots__/PodcastLaunchers.test.jsx.snap
  components/x-podcast-launchers/src/__tests__/__snapshots__/generate-app-links.test.js.snap
  components/x-podcast-launchers/src/__tests__/generate-app-links.test.js
  components/x-podcast-launchers/src/__tests__/generate-rss-url.test.js
  components/x-podcast-launchers/src/config/app-links.js
  components/x-podcast-launchers/src/config/series-ids.js
  components/x-podcast-launchers/src/copy-to-clipboard.js
  components/x-podcast-launchers/src/generate-app-links.js
  components/x-podcast-launchers/src/generate-rss-url.js
  components/x-podcast-launchers/storybook/index.jsx
Owners: @financial-times/platforms

temporarily pin eslint-plugin-react
  package.json
Owners: @financial-times/platforms

add npm-publish-token context to circleci config
  .circleci/config.yml
Owners: @financial-times/platforms

remove unused o-grid-dependency from teaser list
  components/x-teaser-list/bower.json
Owners: @financial-times/platforms

Update to node 16 and test node 14 in the CI
  .circleci/config.yml
  components/x-article-save-button/package.json
  components/x-follow-button/package.json
  components/x-gift-article/package.json
  components/x-increment/package.json
  components/x-interaction/package.json
  components/x-live-blog-post/package.json
  components/x-live-blog-wrapper/package.json
  components/x-privacy-manager/package.json
  components/x-styling-demo/package.json
  components/x-teaser-list/package.json
  components/x-teaser-timeline/package.json
  components/x-teaser/package.json
  components/x-topic-search/package.json
  e2e/package.json
  package.json
  packages/x-babel-config/package.json
  packages/x-engine/package.json
  packages/x-handlebars/package.json
  packages/x-node-jsx/package.json
  packages/x-rollup/package.json
  packages/x-test-utils/package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

Bump node-sass version to support Node 16
  .storybook/webpack.config.js
  components/x-article-save-button/package.json
  components/x-follow-button/package.json
  components/x-follow-button/src/styles/mixins/lozenge/main.scss
  components/x-gift-article/package.json
  components/x-live-blog-post/package.json
  components/x-teaser-list/package.json
  components/x-teaser-timeline/package.json
  components/x-topic-search/package.json
  package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/content-discovery

Check that both Node versions pass CI tests
  .github/settings.yml
Owners: @financial-times/platforms

Update dependency node-sass to v7 [SECURITY]
  components/x-article-save-button/package.json
  components/x-follow-button/package.json
  components/x-gift-article/package.json
  components/x-live-blog-post/package.json
  components/x-teaser-list/package.json
  components/x-teaser-timeline/package.json
  components/x-topic-search/package.json
  package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/content-discovery

move origami dependencies from bower to npm peerDependencies
  components/x-follow-button/bower.json
  components/x-follow-button/package.json
  components/x-gift-article/bower.json
  components/x-gift-article/package.json
  components/x-live-blog-post/bower.json
  components/x-live-blog-post/package.json
  components/x-privacy-manager/bower.json
  components/x-privacy-manager/package.json
  components/x-teaser-timeline/bower.json
  components/x-teaser-timeline/package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

remove bower install steps
  components/x-follow-button/package.json
  components/x-gift-article/package.json
  components/x-live-blog-post/package.json
  components/x-privacy-manager/package.json
  components/x-teaser-timeline/package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

update origami import paths
  components/x-follow-button/src/styles/main.scss
  components/x-gift-article/src/GiftArticle.scss
  components/x-live-blog-post/src/LiveBlogPost.scss
  components/x-privacy-manager/src/components/radio-btn.scss
  components/x-privacy-manager/src/privacy-manager.scss
  components/x-teaser-timeline/src/TeaserTimeline.scss
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

remove bowerrc files
  components/x-follow-button/.bowerrc
  components/x-gift-article/.bowerrc
  components/x-live-blog-post/.bowerrc
  components/x-privacy-manager/.bowerrc
  components/x-teaser-timeline/.bowerrc
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

switch from node sass to dart sass
  components/x-follow-button/package.json
  components/x-follow-button/src/styles/mixins/lozenge/main.scss
  components/x-gift-article/package.json
  components/x-live-blog-post/package.json
  components/x-teaser-timeline/package.json
  package.json
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/content-discovery

apply automatic formatting
  components/x-follow-button/src/styles/main.scss
  components/x-gift-article/src/GiftArticle.scss
  components/x-live-blog-post/src/LiveBlogPost.scss
  components/x-privacy-manager/src/components/radio-btn.scss
  components/x-privacy-manager/src/privacy-manager.scss
  components/x-teaser-timeline/src/TeaserTimeline.scss
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-innovation, @Financial-Times/ads, @Financial-Times/content-discovery

update sass import paths
  packages/x-rollup/src/postcss-config.js
Owners: @financial-times/platforms

catch errors from generating rollup config
  packages/x-rollup/index.js
Owners: @financial-times/platforms

don't bundle peerdependencies
  packages/x-rollup/src/rollup-config.js
Owners: @financial-times/platforms

move new component origami dependencies to npm
  components/x-article-save-button/.bowerrc
  components/x-article-save-button/bower.json
  components/x-article-save-button/package.json
  components/x-teaser-list/.bowerrc
  components/x-teaser-list/bower.json
  components/x-teaser-list/package.json
  components/x-topic-search/.bowerrc
  components/x-topic-search/bower.json
  components/x-topic-search/package.json
Owners: @financial-times/platforms, @Financial-Times/content-discovery

update origami import paths for new components
  components/x-article-save-button/src/ArticleSaveButton.scss
  components/x-gift-article/src/GiftArticle.scss
  components/x-teaser-list/readme.md
  components/x-teaser-list/src/TeaserList.scss
  components/x-teaser-timeline/readme.md
  components/x-topic-search/src/TopicSearch.scss
Owners: @financial-times/platforms, @Financial-Times/accounts, @Financial-Times/content-discovery

use dart-sass in newly merged components
  components/x-article-save-button/package.json
  components/x-teaser-list/package.json
  components/x-topic-search/package.json
Owners: @financial-times/platforms, @Financial-Times/content-discovery

add missing o-labels dependency to x-gift-article
  components/x-gift-article/package.json
Owners: @Financial-Times/accounts

remove redundant build service packages
  components/x-article-save-button/storybook/index.jsx
Owners: @financial-times/platforms

set article-save main to sass entry pointt
  components/x-article-save-button/package.json
Owners: @financial-times/platforms

use BEM naming for x-article-save-button
  components/x-article-save-button/package.json
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

switch storybook webpack include paths to node_modules
  .storybook/webpack.config.js
Owners: @financial-times/platforms

migrate x-teaser-timeline from css modules to BEM
  components/x-teaser-timeline/package.json
  components/x-teaser-timeline/src/TeaserTimeline.jsx
  components/x-teaser-timeline/src/TeaserTimeline.scss
  components/x-teaser-timeline/storybook/index.jsx
  components/x-teaser-timeline/storybook/timeline.js
Owners: @Financial-Times/content-discovery

migrate x-teaser-list from css modules to bem
  components/x-teaser-list/package.json
  components/x-teaser-list/src/TeaserList.jsx
  components/x-teaser-list/src/TeaserList.scss
  components/x-teaser-list/storybook/index.jsx
Owners: @financial-times/platforms

use build service v3 and upgrade packages in save button storybook
  .storybook/build-service.js
  components/x-article-save-button/storybook/index.jsx
Owners: @financial-times/platforms

use bem for x-follow-button
  components/x-follow-button/src/FollowButton.jsx
  components/x-follow-button/src/styles/components/FollowButton.scss
  components/x-follow-button/src/styles/mixins/lozenge/main.scss
  components/x-follow-button/storybook/index.jsx
Owners: @financial-times/platforms

it's an icon kara
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

more specific bem prefix
  components/x-article-save-button/src/ArticleSaveButton.jsx
  components/x-article-save-button/src/ArticleSaveButton.scss
Owners: @financial-times/platforms

fix x-follow-button style entry point
  components/x-follow-button/package.json
Owners: @financial-times/platforms

import scss directly in story
  .storybook/webpack.config.js
  components/x-article-save-button/storybook/index.jsx
Owners: @financial-times/platforms

destructure props in place
  components/x-live-blog-post/src/LiveBlogPost.jsx
Owners: @Financial-Times/content-innovation

remove css modules from x-privacy-manager
  components/x-privacy-manager/package.json
  components/x-privacy-manager/src/components/form.jsx
  components/x-privacy-manager/src/components/messages.jsx
  components/x-privacy-manager/src/components/radio-btn.jsx
  components/x-privacy-manager/src/components/radio-btn.scss
  components/x-privacy-manager/src/privacy-manager.jsx
  components/x-privacy-manager/src/privacy-manager.scss
Owners: @Financial-Times/ads

migrate x-topic-search from css modules to bem
  components/x-topic-search/package.json
  components/x-topic-search/src/NoSuggestions.jsx
  components/x-topic-search/src/SuggestionList.jsx
  components/x-topic-search/src/TopicSearch.jsx
  components/x-topic-search/src/TopicSearch.scss
  components/x-topic-search/storybook/index.jsx
Owners: @Financial-Times/content-discovery

refactor out unnecessary inline function
  components/x-live-blog-post/src/LiveBlogPost.jsx
Owners: @Financial-Times/content-innovation

refactor "generateBackToTopComponent" into a component, because that's what it was
  components/x-live-blog-post/src/LiveBlogPost.jsx
Owners: @Financial-Times/content-innovation

remove css modules from x-live-blog-post
  components/x-live-blog-post/src/LiveBlogPost.jsx
  components/x-live-blog-post/src/LiveBlogPost.scss
  components/x-live-blog-post/src/Timestamp.jsx
  components/x-live-blog-post/storybook/index.jsx
Owners: @Financial-Times/content-innovation

remove unused classnames package
  components/x-privacy-manager/package-lock.json
  components/x-privacy-manager/package.json
  components/x-teaser/package-lock.json
Owners: @Financial-Times/ads, @Financial-Times/content-discovery

CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for more information about this file.

* @financial-times/platforms

# component ownership

components/x-privacy-manager @Financial-Times/ads
components/x-teaser @Financial-Times/content-discovery
components/x-teaser-timeline @Financial-Times/content-discovery
components/x-topic-search @Financial-Times/content-discovery
components/x-live-blog-post @Financial-Times/content-innovation
components/x-live-blog-wrapper @Financial-Times/content-innovation
components/x-gift-article @Financial-Times/accounts
